* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container{
  display: flex;
  gap: 10px;
  padding: 30px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.coin-card{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.128);
  height: 200px;
  width: 200px;
  overflow: hidden;
  cursor: pointer; /* deze prop == spoof button effect */
  background-image: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coin-card:hover {
  background-image: none !important;
}

.markcap, .title, .currentprice{
  visibility: hidden;
}

.coin-card:hover .markcap,
.coin-card:hover .currentprice {
  visibility: visible;
}

/* .coin-card > img{
  width: 50px;
  height: auto;

  
}
.coin-card > img {
  width: 50px;
  height: auto;
  visibility: hidden;
  
} */


.coin-card:hover{
  background-color:rgba(61, 60, 60, 0.128);
 
}



